* {
  text-align: center;
  font-size: 20px;
  background-color: #282828;
  color: #d5c4a1;
  font-family: 'Mukta', sans-serif;
  font-family: 'Redressed', cursive;
  font-family: 'Rubik', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-size: 35px;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-family: 'Redressed', cursive;
  font-family: 'Ubuntu', sans-serif;
  color: #d79921;
}

p1{
  text-align: center;
}

img{
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

ul{
  text-align: center;
}

